html {
  height: 100%;
  background-color: #ffffff;
}

body {
  margin: 0;
  min-height: 100%;
  font: $font-size-default "Georgia", "Songti SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: 1.5;
  color: $color-general-text;
  background-color: $color-white;
  &.has-filter {
    background-color: $color-global-background;
  }
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}


ul,
ol,
p,
blockquote {
  padding-left: 0;
  margin: 0;
}

h1 {
  font-size: px2em(20px, $font-size-default);
}

input,
button {
  border: none;
  padding: 0;
  -webkit-appearance: none;
  outline: none;
}

a:hover {
  color: $color-general-high-light !important;
}

img {
  border: 1px solid $color-grey-l1;
  padding: .5em;
  vertical-align: top;
  max-width: 100%;
}