//    覆盖 prism 代码高亮样式
%coverPrismStyle {
  text-shadow: none !important;
  -webkit-text-shadow: none !important;
  background-color: $color-grey-l1 !important;
}

.essay {
  font-size: px2em(19px, $font-size-main);
  line-height: 1.9;
  letter-spacing: .01em;

  h1, h2, h3, h4 {
    margin-top: 3em;
  }

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1.1em;
  }

  & > p {
    margin-top: 2.5em;
    &:last-of-type {
      margin-bottom: 2.5em;
    }
    @at-root h1+P, h2+p {
      margin-top: 1em !important;
    }
  }

  blockquote {
    position: relative;
    margin: 1.5em 0 1.5em .2em;
    padding: 1em;
    border-left: 6px solid $color-grey-l4;
    font-size: .8em;
    color: $color-grey-l3;
    background-color: $color-grey-l1;
  }

  pre {
    width: 100%;
    overflow: auto;
    *zoom: 0;
  }
  
  pre, code {
    margin-left: .1em;
    margin-right: .1em;
    padding: .2em .4em;
    border-radius: .2em;
    font-size: .8em;
    font-family: "Menlo";
    background-color: $color-grey-l1;
    @extend %coverPrismStyle;
  }
  pre > code {
    font-size: 1em;
  }
  span {
    @extend %coverPrismStyle
  }

  ol, ul {
    margin-top: .6em;
    padding-left: 1.2em;
  }

  a {
    @extend %anchorActAsNormal;
    color: $color-line-and-small-area;
  }
}