.u-cf:after {
  display: table;
  clear: both;
  content: '';
}

.u-blockShadow {
  @extend %blockShadow;
}

.u-hightLightText {
  color: $color-general-high-light !important;
}

.u-centerBlock {
  margin-left: auto !important;
  margin-right: auto !important;
}