//                 --------- basic color ---------
$color-grey-l1: #F5F5F5;
$color-grey-l2: #8F8F8F;
$color-grey-l3: #444444;
$color-grey-l4: #333333;
$color-blue: #15D4F4;

//                -------- explicit color ---------
$color-general-high-light: $color-blue;
$color-general-text: $color-grey-l4;
$color-general-title: $color-grey-l4;
$color-main-field-background: $color-grey-l1;
$color-line-and-small-area: $color-grey-l2;
$color-block-background: #ffffff;



//                --------- font-size ---------
$font-size-default: 14px;



//                --------- width and height ---------
$width-main-field: 960px;