//                 --------- basic color ---------
$color-grey-l1: #ededed;
$color-grey-l2: #aaaaaa;
$color-grey-l3: #444444;
$color-grey-l4: #333333;
$color-blue: #2845ce;
$color-white: #ffffff;

//                -------- explicit color ---------
$color-general-high-light: $color-blue;
$color-general-text: $color-grey-l4;
$color-general-title: $color-grey-l4;
$color-break-line: $color-grey-l1;
$color-line-and-small-area: $color-grey-l2;
$color-global-background: $color-grey-l4;



//                --------- font-size ---------
$font-size-default: 14px;
$font-size-main: 18px;



//                --------- width and height ---------
$width-main-field: 960px;


//                --------- z-index ------------
$zIndex-l1: 1;
$zIndex-l2: 10;
$zIndex-l3: 100;