//                --------- font-size ---------
$font-size-default: 14px;



//                 --------- color ---------
$color-grey-l1: #F5F5F5;
$color-grey-l2: #8F8F8F;
$color-grey-l3: #444444;
$color-grey-l4: #222222;

$color-blue: #15D4F4;
