.article {
  margin-bottom: 200px;
  &.is-articleFull {
    margin-bottom: 80px;
  }
  &.is-articleMeta {
    .article-title {
      float: left;
      font-size: px2em(25px, $font-size-main);
    }
    margin-bottom: 60px;
  }
}

.article-head {
  margin-bottom: 30px;
}

.article-title {
  display: block;
  @extend %anchorActAsNormal;
  @extend %blockTitle;
  @at-root a#{&}:hover {
    color: lighten($color-general-title, 10%) !important;
  }
}

.article-meta {
  padding-top: 10px;
  font-size: px2em(14px, $font-size-main);
  line-height: (18/14);
  color: $color-line-and-small-area;
  clear: left;
}

.article-meta-item {
  display: inline-block;
  margin-right: 15px;
}

.ami-icon {
  color: $color-general-high-light;
  font-size: 1.2em;
  vertical-align: top;
}

.ami-text {
  @extend %anchorActAsNormal;
}

.article-footer {
  margin-top: 60px;
  border-top: 1px solid $color-break-line;
}
.article-footer-readFurther {
  float: right;
  width: 6.5em;
  height: 2.5em;
  margin-top: -1px;
  border: 1px solid $color-break-line;
  border-radius: 0 0 5px 5px;
  font-size: px2em(14px, $font-size-main);
  color: $color-line-and-small-area;
  line-height: 2.5;
  text-align: center;
  @extend %anchorActAsNormal;
  &:hover {
    color: $color-general-high-light;
    border-left-color: $color-general-high-light;
    border-right-color: $color-general-high-light;
    border-bottom-color: $color-general-high-light;
  }
}