.essay {
  @extend %block;
}

.essay-head {
  margin-bottom: 50px;
  @extend %block;
}

.essay-title {
  margin-bottom: 10px;
  color: $color-general-title;
}

.essay-meta {
  padding-top: 5px;
  border-top: 1px solid $color-main-field-background;
  font-size: px2em(14px, 18px);
  line-height: (18/14);
  color: $color-line-and-small-area;
}

.essay-meta-item {
  display: inline-block;
  margin-right: 10px;
}

.emi-icon {
  color: $color-general-high-light;
  font-size: 1.2em;
  vertical-align: middle;
}
.emi-text {
  margin-left: 5px;
}

.essay-content {
  font-size: px2em(18px);
}