#ds-thread #ds-reset .ds-highlight {
  color: $color-general-high-light !important;
}

#ds-thread #ds-reset .ds-comment-body p {
  color: $color-general-text;
}

.ds-post-button {
  background-color: $color-general-text !important;
}