.foot {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
  line-height: 30px;
  font-family: menlo, monaco, monospace;
  font-size: px2em(12px);
  color: $color-general-high-light;
  text-align: center;
}