.head {
  position: relative;
  height: 82px;
  padding: 25px 60px 10px 60px;
  z-index: $zIndex-l2;
  line-height: 47px;
  text-align: center;
  @include phone {
    height: auto;
    padding: 0 0 10px 0;
    border-top: 4px solid $color-general-high-light;
  }
}

.head a {
  text-decoration: none;
}

.head-flag {
  float: left;
  width: 47px;
  height: 47px;
  overflow: hidden;
  border-radius: 26px;
  box-shadow: 0 0 0 1px $color-line-and-small-area ;
  -webkit-box-shadow: 0 0 0 1px $color-line-and-small-area ;
  &:hover {
    box-shadow: 0 0 0 1px $color-general-high-light ;
    -webkit-box-shadow: 0 0 0 1px $color-general-high-light ;
  }
  @include phone {
    display: none;
  }
}
.head-flag-img {
  width: 100%;
  height: 100%;
  padding: 2px;
  vertical-align: top;
  @at-root .has-filter & {
    box-shadow: 0 0 2px 0 rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.4);
  }
}

$height-head-nav-menu: 50px;
.head-nav {
  position: absolute;
  left: 50%;
  top: 15px;
  height: $height-head-nav-menu;
  line-height: $height-head-nav-menu - 1px;
  margin-left: -99px;
  border-bottom: 1px solid $color-break-line;
  @include phone {
    position: static;
    margin-left: auto;
    margin-right: auto;
  }
}
.head-nav-item {
  display: inline-block;
  margin-right: 40px;
  color: $color-general-title;
  font-size: px2em(18px);
  font-weight: bold;
  text-shadow: none;
  vertical-align: top;
  &:last-of-type {
    margin-right: 0;
  }
  @at-root .has-filter & {
    color: #ffffff;
    text-shadow: 0 1px 3px rgba(0,0,0,.7);
    -webkit-text-shadow: 0 1px 3px rgba(0,0,0,.7);
  }
  @include phone {
    margin-right: 20px;
  }
}
.hni-search {
  display: none;
  @include phone {
    display: inline-block;
  }
}

.head-search {
  float: right;
  @include phone {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255, .9);
    @include transition(height, .4s);
    @at-root &.is-show {
      display: block;
      z-index: $zIndex-l3;
    }
  }
}
.head-search-input {
  width: px2em(180px);
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid $color-line-and-small-area;
  border-radius: 18px;
  font-size: px2em(15px);
  font-family: inherit;
  color: $color-line-and-small-area;
  background-color: $color-white;
  &:focus {
    border-color: $color-general-high-light;
    color: $color-general-high-light;
  }
  @at-root .has-filter & {
    border: none !important;
  }
}
.head-search-close {
  display: none;
  @include phone {
    position: absolute;
    display: block;
    bottom: 100px;
    left: 50%;
    width: 2em;
    height: 2em;
    border: 1px solid $color-grey-l2;
    margin-left: -1em;
    border-radius: 1.1em;
    color: $color-grey-l2;
    font-size: px2em(28px);
    background-color: transparent;
  }
}
.head-search-btn {
  display: none;
  width: 32px;
  height: 32px;
  border-radius: 17px;
  font-size: px2em(16px);
  color: $color-white;
  background-color: $color-general-high-light;
  vertical-align: middle;
  @include phone {
    display: inline-block;
  }
}