.head {
  height: 90px;
  margin-bottom: 65px;
  padding: 20px 20px;
  line-height: 50px;
  background-color: $color-block-background;
}

.head a {
  text-decoration: none;
}

.head-flag {
  float: left;
}
.head-flag-img {
  width: auto;
  height: 50px;
  vertical-align: top;
}
.head-flag-title {
  display: inline-block;
  margin-left: 5px;
  color: $color-general-high-light;
  font-size: px2em(30px);
  font-weight: bold;
  vertical-align: top;
}

.head-nav {
  float: left;
  margin-left: 60px;
  padding-top: 5px;
  height: 50px;
}
.head-nav-item {
  display: inline-block;
  margin-right: 20px;
  line-height: 40px;
  color: $color-general-title;
  font-size: px2em(20px);
  &:hover {
    border-bottom: 4px solid $color-general-high-light;
  }
}

.head-search {
  float: right;
}
.head-search-input {
  width: px2em(310px);
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 26px;
  font-size: px2em(20px);
  color: $color-line-and-small-area;
  background-color: $color-main-field-background;
}