.pagination {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $color-break-line;
  border-bottom: 1px solid $color-break-line;
  text-align: center;
  clear: left;
  &.is-onlyOnePage {
    display: none;
  }
}

.pagination-item {
  @extend %anchorActAsNormal;
  color: $color-line-and-small-area;

  @at-root .is-inPage & {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
  }
  @at-root .pagination--post & {
    max-width: 45%;
    &--previous {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}