.pagination {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $color-break-line;
  text-align: center;
  clear: left;
  &.is-onlyOnePage {
    display: none;
  }
}

.pagination-item {
  display: block;
  @extend %anchorActAsNormal;
  color: $color-line-and-small-area;
}