.ct-header {
  margin-top: 8em;
  margin-bottom: 3em;
  &:first-of-type {
    margin-top: 0;
  }
}

.ct-title {
  font-size: px2em(40px, $font-size-main);
  color: $color-grey-l2;
  border-bottom: 1px solid $color-break-line;
  @include phone {
    font-size: px2em(26px, $font-size-main);
  }
}

.ct-icon {
  color: $color-grey-l1;
}