.bg-global {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 120% 120%;
  background-position: -5% -5%;
  z-index: $zIndex-l1;
  -webkit-filter: blur(15px);
  -o-filter: blur(15px);
  filter: blur(15px);
  content: '';
  @at-root .has-filter & {
    display: block;
  }
}

.main {
  position: relative;
  width: 960px;
  padding: 35px 40px 35px 40px;
  margin-left: auto;
  margin-top: 130px;
  margin-right: auto;
  z-index: $zIndex-l2;
  font-size: $font-size-main;
  @extend %block;
}

.main-article {
  float: left;
  width: 556px;
  margin-right: 115px;
}

.main-aside {
  float: left;
  width: 208px;
}